:80 {

    # SECURITY: Restricts the app in the browser from communicating with external sources
    header Content-Security-Policy "
        default-src 'self';
        script-src 'self' 'unsafe-inline' 'unsafe-eval';
        style-src 'self' 'unsafe-inline';
        img-src 'self' data: blob:;
        font-src 'self' data:;
        connect-src 'self';
        frame-ancestors 'self';
        frame-src 'self';
        child-src 'self';
        form-action 'self';
        worker-src 'self' blob:;
        base-uri 'self';
        block-all-mixed-content;
    "




    # Dropbox Endpoint
    redir /filebrowser/dropbox /filebrowser/dropbox/
    handle /filebrowser/dropbox/* {
        forward_auth fisingas-backend:8080 {
            uri /api/checkauth/admin
        }
        reverse_proxy fisingas-filebrowser-dropbox:80
    }


    # Slides Endpoint
    redir /filebrowser/slides /filebrowser/slides/
    handle /filebrowser/slides/* {
        forward_auth fisingas-backend:8080 {
            uri /api/checkauth/admin
        }
        reverse_proxy fisingas-filebrowser-slides:80
    }


    # DBGate Endpoint
    redir /dbgate /dbgate/
    handle /dbgate/* {
        forward_auth fisingas-backend:8080 {
            uri /api/checkauth/admin
        }
        reverse_proxy fisingas-dbgate:3000
    }


    # Backend Endpoint
    reverse_proxy /api/* fisingas-backend:8080


    # NextJS Frontend
    reverse_proxy /* fisingas-nextjs:3000
}
