services:


  fisingas-endpoint:
    container_name: fisingas-endpoint
    image: caddy:2.11-alpine
    # user: 1000:1000
    read_only: true
    volumes:
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
    ports:
      - 80:80
    restart: unless-stopped



  # Frontend (Pull Docker hub)
  fisingas-vite:
    container_name: fisingas-vite
    image: vuknf/fisingas-vite:latest
    user: 1000:1000
    read_only: true
    restart: unless-stopped

  # # Frontend (Self-built)
  # fisingas-vite:
  #   container_name: fisingas-vite
  #   image: fisingas-vite
  #   user: 1000:1000
  #   build:
  #     context: ./vite
  #     dockerfile: Dockerfile                                                # Prod
  #     # dockerfile: Dockerfile.dev                                            # Dev
  #   read_only: true                                                         # Prod
  #   # volumes:                                                                # Dev
  #   #   - ./vite/app:/app                                                     # Dev
  #   restart: unless-stopped




  fisingas-django:
    container_name: fisingas-django
    image: fisingas-django
    build: ./django
    user: 1000:1000
    read_only: true
    environment:
      # - DJANGO_DEBUG=True                                                   # Dev
      - DJANGO_SECRET_KEY=<CHANGE-ME-LONG-RANDOM-STRING>
      - DATABASE_URL=postgres://fisingas:<CHANGE-ME-DB-PASSWORD>@fisingas-postgres:5432/fisingas
      - SLIDES_DIRECTORY=/slides
    tmpfs:
      - /tmp:uid=1000,gid=1000
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./_DATA/slides:/slides
      # - ./django:/app                                                       # Dev
    depends_on:
      fisingas-postgres:
        condition: service_healthy
    restart: unless-stopped


  fisingas-postgres:
    container_name: fisingas-postgres
    image: postgres:17-alpine
    user: 1000:1000
    environment:
      - POSTGRES_DB=fisingas
      - POSTGRES_USER=fisingas
      - POSTGRES_PASSWORD=<CHANGE-ME-DB-PASSWORD>
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fisingas -d fisingas"]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./_DATA/postgres:/var/lib/postgresql/data
    restart: unless-stopped




  fisingas-dbgate:
    container_name: fisingas-dbgate
    image: dbgate/dbgate:7.1.12
    environment:
      WEB_ROOT: /dbgate

      CONNECTIONS: con1
      LABEL_con1: Fišingo Testas - DB
      SERVER_con1: fisingas-postgres
      PORT_con1: 5432
      USER_con1: fisingas
      PASSWORD_con1: <CHANGE-ME-DB-PASSWORD>
      DATABASE_con1: fisingas
      ENGINE_con1: postgres@dbgate-plugin-postgres
    read_only: false
    restart: unless-stopped



  fisingas-filebrowser-dropbox:
    container_name: fisingas-filebrowser-dropbox
    image: vuknf/filebrowser-noauth:latest
    read_only: false
    volumes:
      - ./filebrowser/dropbox.json:/config/settings.json:ro
      - ./_DATA/dropbox:/data
    environment:
      - PUID=1000
      - PGID=1000
    restart: unless-stopped


  fisingas-filebrowser-slides:
    container_name: fisingas-filebrowser-slides
    image: vuknf/filebrowser-noauth:latest
    read_only: false
    volumes:
      - ./filebrowser/slides.json:/config/settings.json:ro
      - ./_DATA/slides:/data
    environment:
      - PUID=1000
      - PGID=1000
    restart: unless-stopped


  fisingas-swagger:
    container_name: fisingas-swagger
    image: swaggerapi/swagger-ui:v5.29.5
    # user: 1000:1000
    read_only: false
    volumes:
      - ./swagger/swagger.yaml:/swagger.yaml:ro
    environment:
      - SWAGGER_JSON=/swagger.yaml
      - BASE_URL=/swagger
    restart: unless-stopped
